certifi==2020.6.20
chardet==3.0.4
idna==2.10
picamera==1.13
pyFirmata2==2.0.1
pyserial==3.4
python-dotenv==0.14.0
python-engineio==3.13.2
python-socketio==4.6.0
requests==2.23.0
six==1.15.0
urllib3==1.25.10
websocket-client==0.57.0
